<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR6QCkIPRVAt7Q3lWCOGzYEwGqQr91YG0</string>
	<key>GCM_SENDER_ID</key>
	<string>338969401008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codehatch</string>
	<key>PROJECT_ID</key>
	<string>jobsyy-71b19</string>
	<key>STORAGE_BUCKET</key>
	<string>jobsyy-71b19.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338969401008:ios:2f55fb68060e4079420d75</string>
</dict>
</plist>